<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nhnacademy.jdbc.board.post.mapper.PostTitleMapper">
    <!--게시판 전체 조회-->
    <select id="selectPostTitles" resultType="com.nhnacademy.jdbc.board.post.domain.PostTitle">
      select *  from notice_board where is_inactive = 0 order by reply_ref, reply_ord DESC;
    </select>

    <!--게시물 조회-->
    <select id="selectPostTitle" resultType="com.nhnacademy.jdbc.board.post.domain.PostTitle">
        select notice_board_no, writer, corrector, title, create_date, correct_date, hits, content, is_inactive from notice_board where notice_board_no = ${id}
    </select>

    <!--게시판 추가-->
    <insert id="insertPostTitle">
        INSERT INTO notice_board VALUES(default, '${writer}', null, '${title}', #{createDate}, null, 0, '${content}', false, (select IFNULL(max(notice_board_no), 0) + 1 FROM notice_board AS temp), 0, 0)
    </insert>

  <!--게시판에 답글 추가-->
  <update id="updatePostReply">
    UPDATE notice_board SET reply_ord = reply_ord + 1 WHERE reply_ref = #{replyRef} AND reply_ord > 0;
  </update>
  <insert id="insertPostReply">
    INSERT INTO notice_board VALUES (default, '${writer}', null, '${title}', #{createDate}, null, 0, '${content}', false, '${reply_ref}', (SELECT reply_ord FROM notice_board AS temp WHERE notice_board_no = '${reply_ref}')+1, (SELECT reply_depth FROM notice_board AS temp WHERE notice_board_no = '${reply_ref}')+1);
  </insert>

    <!--게시판 수정-->
    <update id="updatePostTitle">
        UPDATE notice_board set corrector = #{corrector}, title = #{title}, content = #{contents}, correct_date = now() WHERE notice_board_no = ${id}
    </update>

  <!--게시판 삭제-->
    <delete id="deleteById">
        UPDATE notice_board set is_inactive = true WHERE notice_board_no = ${id}
    </delete>

</mapper>
