<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nhnacademy.jdbc.board.post.mapper.PostTitleMapper">


    <!--    게시판 전체 조회-->
    <select id="selectPostTitles" resultType="com.nhnacademy.jdbc.board.post.domain.PostTitle">

    </select>


<!--    게시판 추가-->
    <insert id="insertPostTitle">
        insert into notice_board values(default, '${writer}', null, '${title}', #{createDate}, null, 0, '${content}');
    </insert>


<!--    게시판 수정-->


<!--    게시판 삭제-->
    <delete id="deleteById">

    </delete>

</mapper>
