<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nhnacademy.jdbc.board.reply.mapper.ReplyMapper">
<!--게시물에 답글 생성 (게시판 목록에서 보여진다.) -->
  <insert id="insertReplyOnPost">
    INSERT INTO reply VALUES(default,
                             #{noticeBoardNo},
                             null,
                             #{parentNo},
                             #{depth},
                             #{title},
                             #{content},
                             #{writer},
                             #{createDate},
                             0)
  </insert>

<!--댓글에 답글 생성 (게시물 상세조회에서 보여진다.) -->
  <insert id="insertReplyOnComment">
    INSERT INTO reply VALUES(default,
                             #{noticeBoardNo},
                             #{commentNo},
                             #{parentNo},
                             #{depth},
                             #{title},
                             #{content},
                             #{writer},
                             #{createDate},
                             1)
  </insert>

<!--게시판 목록 게시물 각각 답글 조회-->
  <select id="selectRepliesOnPost"
          resultType="com.nhnacademy.jdbc.board.reply.domain.Reply">
    SELECT *
    FROM reply
    WHERE notice_board_no = #{postId} and common_code = 0
    ORDER BY parent_no ASC, depth ASC
 </select>


<!--게시물 상세 조회에서 댓글에 답글 조회-->
  <select id="selectRepliesOnComment"
          resultType="com.nhnacademy.jdbc.board.reply.domain.Reply">
    SELECT *
    FROM reply
    WHERE comment_no = #{commentId} and common_code = 1
    ORDER BY parent_no ASC, depth ASC
  </select>
</mapper>