<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nhnacademy.jdbc.board.comment.mapper.CommentMapper">
<!--    댓글 추가-->
    <insert id="insertComment">
        INSERT INTO comment VALUES(default, #{noticeBoardNo}, #{writer}, #{commentContent}, #{createDate}, 1)
    </insert>

    <update id="modifyComment">
        UPDATE comment set comment_contents = #{content} WHERE comment_no = #{commentId}
    </update>

    <delete id="deleteById">
        DELETE FROM comment WHERE comment_no = #{commentId}
    </delete>

    <select id="selectComments" resultType="com.nhnacademy.jdbc.board.comment.domain.Comment">
        SELECT comment_no, notice_board_no, writer, comment_contents, create_date, comment_separate_code FROM comment WHERE notice_board_no = #{postId};
    </select>

    <select id="selectComment" resultType="com.nhnacademy.jdbc.board.comment.domain.Comment">
        SELECT comment_no ,notice_board_no, writer, comment_contents, create_date, comment_separate_code FROM comment WHERE comment_no = #{commentId};
    </select>
</mapper>